/*
 *= require_tree .
 *= require_self
 */
 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.posts-container {
    max-height: 1000px;
    overflow-y: auto;
}

.header-image {
  background-repeat: no-repeat;
  background-size: contain;
}

.back-button-container {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.back-button {
  font-size: 30px;
  background: transparent;
  border: none;
  color: gray; /* 文字色を白に設定 */
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 8px; /* 適宜調整 */
  text-decoration: none; /* テキストの下線を消す */
}

.back-button::before {
  display: inline-block;
  margin-right: 8px; /* アイコンとテキストの間隔 */
}

.list-post-button {
  margin: 20px 0 0 0;
}

.user-post-body {
  margin-bottom: 10px;
  color: black;
  text-decoration: none;
}

/* 追加されたスタイルの例 */
.user-icon {
  position: absolute;
  bottom: -25px;
  left: 10px;
  z-index: 3;
}

.user-icon:hover {
  /* 光る効果を取り除くスタイル */
  box-shadow: none;
  transform: none;
}


.follow-btn-container {
  position: absolute;
  bottom: -25px;
  right: 10px;
  z-index: 3;
}

.card-text-list a {
  color: black;
  font-size: 30px;
  margin-bottom: 25px;
}

.card-text-list i {
  font-size: 30px; /* アイコンのフォントサイズ */
  margin-bottom: 25px;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  right: 0;
  top: 100%; /* ボタンの下に表示 */
  z-index: 1000; /* 他の要素の上に表示 */
}

/* ドロップダウンメニューを開いたときのボタンのスタイルを変更するための追加スタイル */
.btn-link.dropdown-toggle::after {
  display: none; /* デフォルトの矢印を非表示に */
}

.btn-link.dropdown-toggle:focus {
  box-shadow: none; /* フォーカス時のアウトラインを削除 */
}

/* FontAwesomeのアイコンサイズを調整 */
.fas.fa-ellipsis-v {
  font-size: 24px;
}

.comment-date {
  color: #aaa;
}