/*
 *= require_tree .
 *= require_self
 */
 
 @import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Cherry+Swash&display=swap');
 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%; /* HTMLとBODYに100%の高さを設定 */
  margin: 0;
  padding: 0;
}

.background::before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: image-url("background_petter.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; /* ビューポートの全高さを背景の最小高さとする */
  opacity: 0.3; /* ここで背景画像の透明度を設定 */
  z-index: -2; /* 背景を他の要素より下に配置 */
}

.container, .container > .row {
  position: relative;
  z-index: 2; /* 背景より前に配置 */
}

footer {
  position: fixed; /* フッターを画面の下に固定 */
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  line-height: 0;
  background-color: #fff;
  z-index: 10;
}

.posts-container,
.posts-container-new {
    max-height: 830px;
    margin-top: 10px;
    overflow-y: auto;
}

/* カード自体のスタイル */
.card {
  height: auto;
  margin-bottom: 20px; /* カード間の余白 */
  overflow: hidden; /* 画像がカードの外にはみ出さないように */
}

.card-search {
  position: relative; /* 位置を相対位置に設定 */
  z-index: 2; /* 背景よりも前面に表示するために高いz-indexを設定 */
  margin-top: 20px;
}


.flash {
  margin-right: 50px;
}

.favorite-count {
  margin-left: 20px;
  color: black;
}

.logo-font {
   font-family: 'Cherry Swash', cursive;
   color: black;
   font-size: 30px;
   text-decoration: none;
}

.actions {
  width: 100px;
  margin: 20px 0;
}

.actions-signup {
  width: 200px;
  margin: 40px 0;
}

.user-login {
  margin-top: 50px;
}

.field-login {
  margin: 20px 0;
  width: 60%;
  height: 40px;
}

.field-signup {
  margin: 20px 0;
  width: 60%;
  height: 40px;
}

.withdraw {
  margin-top: 100px;
}

.withdraw-button {
  margin-top: 70px;
}

.withdraw-span {
  margin-right: 70px;
}

.header-image {
  background-repeat: no-repeat;
  background-size: contain;
}

.back-button-container {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.back-button {
  font-size: 30px;
  background: transparent;
  border: none;
  color: gray; /* 文字色を白に設定 */
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 8px; /* 適宜調整 */
  text-decoration: none; /* テキストの下線を消す */
}

.back-button::before {
  display: inline-block;
  margin-right: 8px; /* アイコンとテキストの間隔 */
}

.list-post-button {
  margin: 40px 0 0 0;
}

.admin-login {
  margin: 20px 0 0 0;
}

.user-post-body {
  margin-bottom: 10px;
  color: black;
  text-decoration: none;
}

/* 追加されたスタイルの例 */
.user-icon {
  position: absolute;
  bottom: -25px;
  left: 10px;
  z-index: 3;
}

.user-icon img {
  width: 100px; /* アイコンの幅 */
  height: 100px; /* アイコンの高さ */
  border-radius: 50%; /* 円形にする */
  object-fit: cover; /* コンテナに合わせて画像をカバー */
}

.user-icon:hover {
  /* 光る効果を取り除くスタイル */
  box-shadow: none;
  transform: none;
}

/* 投稿された画像のスタイル */
.user-post-show img {
  width: 100%; /* カードの幅いっぱいになるように */
  height: auto; /* 画像の高さが自動的に調整されるように */
  display: block; /* 余白をなくすため */
}

.top-post-img img {
  width: 100%;
  height: auto;
  display: block;
}

.follow-btn-container {
  position: absolute;
  bottom: -10px;
  right: 10px;
  z-index: 3;
}

.following-user, 
.followers-user {
  color: black;
}

.card-text-list a {
  color: black;
  font-size: 30px;
  margin-bottom: 25px;
}

.card-text-list i {
  font-size: 30px; /* アイコンのフォントサイズ */
  margin-bottom: 25px;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  right: 0;
  top: 100%; /* ボタンの下に表示 */
  z-index: 1000; /* 他の要素の上に表示 */
}

/* ドロップダウンメニューを開いたときのボタンのスタイルを変更するための追加スタイル */
.btn-link.dropdown-toggle::after {
  display: none; /* デフォルトの矢印を非表示に */
}

.btn-link.dropdown-toggle:focus {
  box-shadow: none; /* フォーカス時のアウトラインを削除 */
}

/* FontAwesomeのアイコンサイズを調整 */
.fas.fa-ellipsis-v {
  font-size: 24px;
}

.comment-date {
  color: #aaa;
}

.card-body-edit {
  padding: 0;
}

.edit-header_image {
  position: relative;
  width: 100;
  height: auto; /* アスペクト比を維持 */
  overflow: hidden; /* もしヘッダー画像が枠を越えたら隠す */
}

/* ヘッダー画像自体のスタイルを調整 */
#header-image {
  width: 100%; /* 横幅いっぱいに */
  height: auto; /* アスペクト比を維持 */
  display: block; /* ブロック要素として扱い、余白を取り除く */
}

/* アイコンとドロップダウンの親要素に相対位置を設定 */
.icon-leader {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 15px; /* ドロップダウンボタンに余白を追加 */
}

.edit-icon-image {
  position: absolute;
  bottom: 0; /* ヘッダー画像の下に半分だけアイコンが出るように設定 */
  left: 5%; /* 横方向の中心に来るように設定 */
  transform: translateX(0%); /* アイコンの中心が正確にヘッダーの中心に来るように調整 */
  z-index: 2; /* ヘッダー画像より前面に表示 */
}

/* ドロップダウンボタンを右端に固定 */
.dropdown {
  position: absolute;
  right: -470px; /* 右端に配置 */
  top: 50%; /* 縦方向の中央に来るように設定 */
  transform: translateY(-10%); /* ボタンの中心が親要素の縦方向中央に来るように調整 */
}

.card-text-edit {
  max-width: 500px; /* 最大幅を500pxに設定 */
  margin: auto; /* 自動的に中央揃え */
  margin-top: 10px;
  padding: 10px 0; /* 上下に10pxのパディング */
}

.form-control {
  width: 100%; /* フォームコントロールの幅を100%に */
  margin-bottom: 10px; /* フォームコントロール間のマージン */
}

/* 3点リーダーボタンのスタイル調整 */
.dropdown-toggle::after {
  display: none; /* デフォルトの矢印を非表示 */
}

/* ドロップダウンメニューを右側に表示 */
.dropdown-menu-right {
  right: 0;
  left: auto;
}

/* Add photoアイコンのスタイル */
.add-photo-icon {
  color: white;
  position: absolute;
  top: -50%;
  left: 15%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  font-size: 24px; /* アイコンのサイズ調整 */
  z-index: 5;
}

/* ホバー時に表示されるテキストのスタイル */
.add-photo-icon:hover::after {
  content: 'Add photo';
  position: absolute;
  top: 120%; /* アイコンの下に表示 */
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap; /* テキストが折り返されないように */
  background-color: #000;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  z-index: 6;
}

.card-header-follow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

/* 画像プレビューのスタイル */
#image-preview-wrapper {
  width: 100%; /* コンテナの幅を100%に設定 */
  text-align: center; /* 中央揃え */
}

#image-preview {
  max-width: 100%; /* 画像の最大幅をコンテナの100%に設定 */
  height: auto; /* 画像の高さを自動調整 */
  display: flex; /* ブロック要素として表示 */
  margin: 10px 0 10px 0;
  object-fit: cover; /* 余白を残さず、要素のボックスを覆うように調整する */
  justify-content: center;
  align-items: center;
}

/* アイコン画像のスタイルを調整 */
#icon-image-preview {
  width: 120px; /* ここでアイコンの幅を設定 */
  height: 120px; /* ここでアイコンの高さを設定 */
  border-radius: 50%; /* 丸い形にする */
  object-fit: cover; /* コンテナに合わせて画像をカバー */
  object-position: center; /* 画像の中心をコンテナの中心に合わせる */
}

.img-fluid {
  width: 95%;
  height: auto;
  object-fit: cover; /* 画像をプレビューエリアにピッタリ表示し、縦横比を維持する */
}

.menu-list {
  margin-top: 20px;
}