
    <div class="col-6 posts-container text-center">
      <h2>Log in</h2>
      
      <%= form_with model: @user, url: user_session_path, local: true do |f| %>
      
        <div>
          <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder:"ユーザー名", class:"field-login" %>
        </div>
      
        <div>
          <%= f.password_field :password, autocomplete: "current-password", placeholder:"パスワード", class:"field-login" %>
        </div>
      
        <div>
          <%= f.submit "Log in", class:"actions btn btn-outline-primary rounded-pill", style:"width: 200px;" %>
        </div>
         
      <% end %>
    </div>