<div class="col-6 posts-container">
  <div class="card">
    <% @users.each do |user| %>
      <div class="card-body">
        <%= link_to user_path(user) do %>
          <%= image_tag user.get_icon_image(50, 50) %>
        <% end %>
        <%= user.name %>
        <%= user.introduction %>
      </div>
    <% end %>  
  </div>
</div>