<% @users.each do |user| %>
  <tr>
    <td>フォロー<%= user.followers.count %></td>
    <td>フォロワー<%= user.followeds.count %></td>
    <td><%= render partial: "public/relationships/follow_btn", locals: { user: user } %></td>
  </tr>
<% end %>
