<header>
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">PETTER</a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
                   aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="<%= root_path %>">
          ホーム<span class="visually-hidden">（現在地）</span>
        </a>
        <a class="nav-item nav-link" href="#">リンク1</a>
        <a class="nav-item nav-link" href="#">リンク2</a>
        <a class="nav-item nav-link" href="#">リンク3</a>
      </div>
    </div>
    
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Dropdown button
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>
    
    <div class="dropdown">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Dropdown link
      </a>

      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>

    <form class="row gx-2">
      <div class="col-auto">
        <input class="form-control mr-sm-2" type="search" placeholder="検索キーワード" aria-label="検索キーワード">
      </div>
      <div class="col-auto">
        <button class="btn btn-light my-2 my-sm-0" type="submit">検索</button>
      </div>
    </form>
  </div>
</nav>
</header>
